certifi==2019.3.9
Click==7.0
decorator==4.0.11
Flask==1.0.2
Flask-Cors==3.0.7
flask-peewee==3.0.3
imageio==2.1.2
InstagramAPI==1.0.2
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
moviepy==0.2.3.2
numpy==1.16.2
peewee==3.9.4
Pillow==6.0.0
requests==2.11.1
requests-toolbelt==0.7.0
six==1.12.0
tqdm==4.11.2
Werkzeug==0.15.2
wtf-peewee==3.0.0
WTForms==2.2.1
